---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import KioskTimeLine from '../components/KioskTimeLine.astro'; 
import Products from '../components/Products.astro';
import AIProcess from '../components/AIProcess.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="دورامد | پایش سلامت هوشمند">
    <Navbar />
    
    <main>
        <Hero />
        
        <KioskTimeLine />
        
        <Products />
        
        <AIProcess />
        <About />
    </main>

    <Footer />
</Layout>