---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import KioskTimeLine from '../components/KioskTimeLine.astro'; 
import Products from '../components/Products.astro';
import AIProcess from '../components/AIProcess.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import ReportPopup from '../components/ReportPopup.astro'; 
import LatestNews from '../components/LatestNews.astro'; 

const pageTitle = "دورامد | پیشگام در پایش سلامت هوشمند و پزشکی از راه دور";
const pageDescription = "با کیوسک‌های هوشمند دورامد و تکنولوژی هوش مصنوعی، پایش سلامت خود را به سطح کلینیکال برسانید. ارائه خدمات پزشکی از راه دور و پرونده سلامت الکترونیک در ایران.";
---

<Layout title={pageTitle} description={pageDescription}>
    <Navbar />
    
    <main class="flex flex-col w-full overflow-hidden">
        <Hero />
        <KioskTimeLine />
        <Products />
        <AIProcess />
        <About />
        <LatestNews />

    </main>

    <Footer />
    <ReportPopup />
</Layout>